@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(26, 23, 23);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Pour le composant Preloader */
@keyframes rise {
  0% { transform: translateY(100%); opacity: 0; }
  20% { opacity: 0.4; }
  25% { opacity: 0.8; } 
  30% { transform: translateY(0); opacity: 1; }
  80% { transform: translateY(0); opacity: 1; } 
  85% { opacity: 0.5; }
  90% { opacity: 0.2; } 
  100% { transform: translateY(-100%); opacity: 0; }
}

.animate-rise {
  animation: rise 1.3s ease-in-out forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  75% { opacity: 1; }
  100% {
      opacity: 0;
      display: none;
      visibility: hidden;
  }
}

.animate-fadeOut {
  animation: fadeOut 1.3s ease-in-out 3s forwards; /* Ajoute un délai pour commencer après le dernier caractère */
}

/* Pour le composant SkillCarousel */
div.carousel .control-dots .dot {
  background-color: #4b5563;
  transition: background-color 0.3s ease;
}

div.carousel .control-dots .dot:hover,
div.carousel .control-dots .dot.selected {
  background-color: #030712;
}

.max-width {
  max-width: 320px;
}

